# Change this to your Discord webhook URL
DISCORD_WEBHOOK_URL=
# Optionally replace the generic show thumbnail with the episode thumbnail (Default: True)
SHOW_EPISODE_THUMBNAIL=True
# Change this to the host IP address (Default: Blank [localhost])
WEBHOOK_HOST=
# Change this to the desired port to listen on (Default: 8700)
WEBHOOK_PORT=8700